{% extends 'shared/base_main_page.html' %}
{% load static %}
{% block content %}

    <!-- Caroussel -->
    <div id="carouselExampleControls" class="carousel slide carousel-fade d-none d-sm-block" data-bs-ride="carousel">
      <div class="carousel-inner">


        <div class="carousel-item active" data-bs-interval="4500">
          <img src="{% static 'assets/imagens/poster_cinema9_final.png' %}" class="d-block h-50 w-100" >
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/carousel_01.jpg' %}" class="d-block h-50 w-100"></a>
          <div class="carousel-caption">
            <a href="{% url 'movie_page' 'pagina_filme' %}"><h1 class="lobs">Lorem, ipsum dolor.</h1></a>
            <p class="lobsterFont titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/carousel_02.jpg' %}" class="d-block h-50 w-100" ></a>
          <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'movie_page' 'pagina_filme' %}"><h1 class="lobs">Lorem, ipsum.</h1></a>
            <p class="lobsterFont titulo">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/carousel_03.jpg' %}" class="d-block w-100" ></a>
          <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'movie_page' 'pagina_filme' %}"><h1 class="lobs">Lorem ipsum dolor sit amet.</h1></a>
            <p class="lobsterFont titulo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint.</p>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/carousel_04.jpg' %}" class="d-block w-100" ></a>
          <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'movie_page' 'pagina_filme' %}"><h1 class="lobs">Lorem, ipsum.</h1></a>
            <p class="lobsterFont titulo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo delectus velit alias?</p>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- cards filmes -->
    <section>
      <div class="container pt-4">

        <div class="row row-cols-1 row-cols-md-3 g-3">

          <div class="col">
            <div class="card m-3">
              <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/filme_01.jpg' %}" class="card-img-top" alt="poster1" style="width: 100%;height: 32vw;object-fit: cover;"></a>
              <div class="card-body">
                <h5 class="card-title">Filme 01</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum officiis non magni quidem. At quo aperiam ex labore incidunt repellendus necessitatibus, esse vel consequuntur accusantium.</p>
              </div>
            </div>
          </div>
 
          <div class="col">
            <div class="card m-3">
              <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/filme_02.jpg' %}" class="card-img-top" alt="poster2" style="width: 100%;height: 32vw;object-fit: cover;"></a>
              <div class="card-body">
                <h5 class="card-title">Filme 02</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum officiis non magni quidem. At quo aperiam ex labore incidunt repellendus necessitatibus, esse vel consequuntur accusantium.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card m-3">
              <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/filme_03.jpg' %}" class="card-img-top" alt="poster3" style="width: 100%;height: 32vw;object-fit: cover;"></a>
              <div class="card-body">
                <h5 class="card-title">Filme 03</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum officiis non magni quidem. At quo aperiam ex labore incidunt repellendus necessitatibus, esse vel consequuntur accusantium.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card m-3">
              <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/filme_04.jpg' %}" class="card-img-top" alt="poster4" style="width: 100%;height: 32vw;object-fit: cover;"></a>
              <div class="card-body">
                <h5 class="card-title">Filme 04</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum officiis non magni quidem. At quo aperiam ex labore incidunt repellendus necessitatibus, esse vel consequuntur accusantium.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card m-3">
              <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/filme_05.jpg' %}" class="card-img-top" alt="poster5" style="width: 100%;height: 32vw;object-fit: cover;"></a>
              <div class="card-body">
                <h5 class="card-title">Filme 05</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum officiis non magni quidem. At quo aperiam ex labore incidunt repellendus necessitatibus, esse vel consequuntur accusantium.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card m-3">
              <a href="{% url 'movie_page' 'pagina_filme' %}"><img src="{% static 'assets/imagens/filme_06.jpg' %}" class="card-img-top" alt="poster6" style="width: 100%;height: 32vw;object-fit: cover;"></a>
              <div class="card-body">
                <h5 class="card-title">Filme 06</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum officiis non magni quidem. At quo aperiam ex labore incidunt repellendus necessitatibus, esse vel consequuntur accusantium.</p>
              </div>
            </div>
          </div>

        </div>

        <div class="card m-3">
          <a href="{% url 'movie_page' 'evento_especial' %}"><img src="{% static 'assets/imagens/special_event.jpg' %}" class="card-img-top" alt="evento_especial" style="width: 100%;height: 32vw;object-fit: cover;"></a>
          <div class="card-body">
            <h5 class="card-title">Eventos especiais - Cinema 9</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laudantium, exercitationem est molestiae repellat a ipsum, quam itaque, quidem vel voluptatum sunt cum excepturi tempora incidunt dolorum dicta? Molestiae animi deserunt sed doloribus similique.</p>
          </div>
        </div>
        
      </div>
    </section>

    <!-- Nossa história -->
    <section id="nossH" class="p-5">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
              <h2>Tudo começou em 1985</h2>
              <p class="lead">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Similique deleniti possimus magnam corporis ratione facere!
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis, quo voluptates est necessitatibus quos ipsum hic. Provident aperiam aspernatur quibusdam quam tempora illum neque quod, incidunt, odio, blanditiis corrupti. Aperiam quis amet fugiat. Iure est architecto vitae sapiente molestias excepturi atque, animi similique! Molestiae quae ipsa cumque et ratione?
              </p>
            </div>
            <div class="col-md">
              <img src="{% static 'assets/imagens/deVolta.jpg' %}" class="img-fluid" alt="logo" />
            </div>
          </div>
        </div>
    </section>
    <section class="p-5 bg-dark text-light">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="{% static 'assets/imagens/logo.png' %}" class="img-fluid" alt="" />
            </div>
            <div class="col-md p-5">
              <h2>Venha conhecer sua próxima aventura!</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias minus consectetur explicabo cupiditate porro, molestias eum, eligendi id natus possimus, voluptates fuga facilis! Quidem, dolorum minus excepturi officiis iusto eius incidunt pariatur reprehenderit amet iste ipsa quo quod suscipit libero vitae similique debitis quas perferendis porro? Quis cupiditate perferendis natus quam esse, nulla dicta consequuntur possimus magnam soluta hic ipsa illum. Animi eveniet quasi nulla accusantium sit, ipsum sapiente aperiam error! Eos distinctio aliquam architecto suscipit fugiat, porro dolores id sapiente nesciunt, recusandae tempore officia ea at sit optio asperiores dolore quam? Soluta ipsum quam praesentium. Soluta deserunt tempora perferendis?
              </p>
            </div>
          </div>
        </div>
    </section>

      <!--Serviços-->
    <section id="servicos" class=" p-2">
      <div class="container p-5 mb-5">
        
        <div class="row row-cols-1 row-cols-md-3 g-1">

          <div class="col">
            <div class="card m-1">
              <a href="#servicos" onclick="abrirOffL()">
                <img src="{% static 'assets/imagens/metro.jpg' %}" class="card-img-top" alt="horarios" id="metro">
                <div class="overlay"><div class="text">Horários</div></div>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="card m-1">
              <a href="#servicos" onclick="abrirModal2()">
                <img src="{% static 'assets/imagens/wolf.png' %}" class="card-img-top" alt="preços">
                <div class="overlay"><div class="text">Preços</div></div>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="card m-1">
              <a href="#servicos" onclick="abrirOffR()">
                <img src="{% static 'assets/imagens/miaMIlk.png' %}" class="card-img-top" alt="Alimentação">
                <div class="overlay"><div class="text">Alimentação</div></div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Modal Preços -->
    <div class="modal fade" id="precos" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title titulo" id="enrollLabel">Preços</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
    
            <div class="card text-white cartaoBlack mb-1">
              <div class="card-body">
                <h5 class="card-title titulo2">Segunda, Terça e Quarta</h5>
                <p class="card-text"> Inteira: R$ 20,00 - Meia: R$ 10,00 </p>
              </div>
            </div>
    
    
            <div class="card text-white cartaoBlack mb-1">
              <div class="card-body">
                <h5 class="card-title titulo2">Quinta e Sexta</h5>
                <p class="card-text"> Inteira: R$ 30,00 - Meia: R$ 15,00  </p>
              </div>
            </div>
    
            <div class="card text-white cartaoBlack mb-1">
              <div class="card-body">
                <h5 class="card-title titulo2">Sábado e Domingo</h5>
                <p class="card-text"> Inteira: R$ 34,00 - Meia: R$ 17,00 </p>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>

    <!-- OffCanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offL" aria-labelledby="offcanvasLeftLabel">
      <div class="offcanvas-header">
        <h3 id="offcanvasTopLabel" class="titulo">Horários</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="card text-white cartaoBlack mb-1">
          <div class="card-body">
            <h5 class="card-title titulo2">Segunda, Terça e Quarta</h5>
            <p class="card-text"> 13hrs até as 21hrs </p>
          </div>
        </div>

        <div class="card text-white cartaoBlack mb-1">
          <div class="card-body">
            <h5 class="card-title titulo2">Quinta</h5>
            <p class="card-text"> 13hrs até as 23hrs </p>
          </div>
        </div>

        <div class="card text-white cartaoBlack mb-1">
          <div class="card-body">
            <h5 class="card-title titulo2">Sexta e Sábado</h5>
            <p class="card-text"> 13hrs até as 00hrs - Evento especial: até as 06hrs </p>
          </div>
        </div>

        <div class="card text-white cartaoBlack mb-1">
          <div class="card-body">
            <h5 class="card-title titulo2">domingo</h5>
            <p class="card-text"> 13hrs até as 21hrs</p>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offR" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h3 id="offcanvasTopLabel" class="titulo">Alimentação</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="card mb-3">
          <img src="{% static 'assets/imagens/pipoca.jpg' %}" class="card-img-top" alt="pipoca1">
          <div class="card-body">
            <h5 class="card-title">Pipoca salgada</h5>
            <p class="card-text">Ingredientes: milho e sal</p>
            <p class="card-text">Preço: R$ 7,00</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="{% static 'assets/imagens/popDoc.jpg' %}" class="card-img-top" alt="pipoca2">
          <div class="card-body">
            <h5 class="card-title">Pipoca caramelada</h5>
            <p class="card-text">Ingredientes: milho, creme de caramelo </p>
            <p class="card-text">Preço: R$ 10,00</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="{% static 'assets/imagens/burgi.jpg' %}" class="card-img-top" alt="hamburger">
          <div class="card-body">
            <h5 class="card-title">Cheeseburger c/ batatas</h5>
            <p class="card-text">Ingredientes: pão, buguer, queijo, molho especial, batata</p>
            <p class="card-text">Preço: R$ 25,00</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="{% static 'assets/imagens/sanduba.jpg' %}" class="card-img-top" alt="sandwich">
          <div class="card-body">
            <h5 class="card-title">Sanduba Clássico</h5>
            <p class="card-text">Ingredientes: pão, queijo, presunto, maionese, alface e tomate</p>
            <p class="card-text">Preço: R$ 15,00</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="{% static 'assets/imagens/amendobobo.jpg' %}" class="card-img-top" alt="peanut">
          <div class="card-body">
            <h5 class="card-title">Amendoin</h5>
            <p class="card-text">Tipo: japones, espanhol, amendoim doce</p>
            <p class="card-text">Preço: R$ 7,00</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="{% static 'assets/imagens/breja.jpg' %}" class="card-img-top" alt="beer">
          <div class="card-body">
            <h5 class="card-title">Cerveja</h5>
            <p class="card-text">Tipos: Brahma, Amstel, Heineken</p>
            <p class="card-text">Preço: R$ 5,00</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="{% static 'assets/imagens/juic.jpg' %}" class="card-img-top" alt="juice">
          <div class="card-body">
            <h5 class="card-title">Bebidas n/alcoólicas</h5>
            <p class="card-text">Tipos: Suco, aguá, refrigetante</p>
            <p class="card-text">Preço: R$ 4,00</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}