{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div id="movies_background">

  <!-- img e card -->    
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-sm-6">
        <div class="container">
          <div class="card border-0 shadow my-5 mx-3">
            <div class="card-body p-5">
              <h1 class="fw-light titulo">Descrição do filme</h1>
              <p class="lead subTit">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, debitis?</p>
              <p class="lead">Duis consectetur anim et sint proident voluptate nisi ex aute magna magna. Fugiat voluptate nisi laboris amet incididunt duis tempor esse deserunt. Tempor sunt ad consequat commodo quis duis id magna esse excepteur est duis. 
              </p>
              <p>Dolore velit et consequat occaecat minim id. Minim occaecat irure ipsum officia eu non officia adipisicing id. Ipsum nulla mollit do cupidatat culpa ut quis excepteur velit id occaecat voluptate. </p>
              <p >Dolore velit et consequat occaecat minim id. Minim occaecat irure ipsum officia eu non officia adipisicing id. Ipsum nulla mollit do cupidatat culpa ut quis excepteur velit id occaecat voluptate. Quis culpa officia eu occaecat sint eu ullamco pariatur veniam incididunt qui. Mollit officia mollit ullamco commodo cupidatat labore commodo reprehenderit sint id pariatur tempor. Nulla adipisicing culpa in elit veniam ea aliqua deserunt velit. Irure qui eiusmod excepteur ut minim quis sit fugiat proident cillum. </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate architecto eius corporis repellendus, reprehenderit blanditiis magni id quae labore. Laborum odio blanditiis sunt, molestiae vel harum tempore vitae architecto id et nostrum accusamus recusandae in illo repudiandae quibusdam, maxime consequatur neque natus cupiditate ipsam quas sint debitis tenetur! Incidunt dicta quia nihil! Tempore eveniet nobis, delectus iusto, magnam at fugiat vero, temporibus aperiam laborum ea? Fuga minus quae dolore culpa quos sunt minima nam vel mollitia, ullam iure tenetur? Amet blanditiis illo ipsam necessitatibus quis tempora esse commodi voluptatibus sunt eligendi quam recusandae delectus, consequatur asperiores sequi est dolor officia. Fuga iusto possimus optio. Provident at quidem corporis a, nihil vero eum doloribus perferendis qui minus animi, porro amet?</p>
              <div style="height: 100px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  

</div>

{% endblock %}